.block{
  height: 100px;
  width: 100px;
  border: 2px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.9rem;
  font-weight: bold;
}
.row{
  display: flex;
}
.board{
  position: absolute;
  top: 45%;
  left: 49%;
  transform: translate(-50%, -50%);
}
